// Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 80 80', style='enable-background:new 0 0 80 80;', xml:space='preserve')
	style(type='text/css').
		.bgIcon{fill:#FF0000;}
		.cross{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
	g
		circle.bgIcon(cx='40', cy='40', r='39.5')
		line.cross(x1='40', y1='19', x2='40', y2='61')
		line.cross(x1='61', y1='40', x2='19', y2='40')