section.slider
	.container-fluid.px-0
		.container.d-flex.align-items-center.mx-0
			.copy
				h2: strong
					| COMPLEX APPLICATION SIMPLE SOLUTIONS,
				p it's about ideas, it's about ideas happend.
				a.btn.btn-outline-dark.btn-lg LET'S GET STARTED

