footer.container-fluid.footer
	.container-footer.p-4.m-o.d-flex.flex-wrap.justify-content-between
		.about.d-flex.flex-column.align-items-start
			.about-company
				include logo
				p.pr-4.mt-4: small
					| Discover IT (UK) limited
					br
					| 123 Fleetham Gardens
					br
					| Lower Earley
					br
					| Reading
					br
					| RG6 4BZ
			.about-social.mt-auto
				ul.list-unstyled.list-inline.mb-0
					li.list-inline-item.mr-3.faceBook: a(href="http://www.solopx.com")
						+facebok
					li.list-inline-item.mr-3.twitter: a(href="http://www.solopx.com")
						+twitter
					li.list-inline-item.mr-3.linkedIn: a(href="http://www.solopx.com")
						+linkedIn
					li.list-inline-item.mr-3.instagram: a(href="http://www.solopx.com")
						+instagram
		.form.d-flex.flex-column
			h5.mt-4.mt-md-2.mt-lg-2.mt-xl-2: strong GET IN TOUCH
			form.contactForm.contactForm-footer
				.form-group
					//- label(for='exampleInputEmail1') Email address
					input#exampleInputEmail1.form-control(type='name', aria-describedby='nameHelp', placeholder='Name')
				.form-group
					//- label(for='exampleInputEmail1') Email address
					input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Email')
					small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
				.form-group
					//- label(for='exampleFormControlTextarea1') Example textarea
					textarea#exampleFormControlTextarea1.form-control(rows='3')
				button.btn.btn-primary(type='submit') SEND
