nav.navbar.navbar-expand-lg.navbar-light.navbar-toggleable-md.navbar-inverse.fixed-top(style="background-color: transparent;")
	a.navbar-brand(href='http://www.solopx.com')
		include logo
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarSupportedContent.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			li.nav-item.px-2
				a.nav-link(href='http://www.solopx.com')
					| WHAT WE DO 
					span.sr-only (current)
			li.nav-item.px-2
				a.nav-link(href='http://www.solopx.com') WORK
			li.nav-item.px-2
				a.nav-link(href='http://www.solopx.com') NEWS & BLOG
			li.nav-item.px-2
				a.nav-link(href='http://www.solopx.com') CONTACT
