nav.navbar.navbar-expand-md.fixed-top.pb-0(style="background-color: transparent;")
	a.navbar-brand.p-0(href='http://www.solopx.com')
		include logo
	button.navbar-toggler.p-0(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
		//- span.navbar-toggler-icon
		+menu
	#navbarCollapse.collapse.navbar-collapse
		ul.navbar-nav.ml-auto.p-0
			li.nav-item.active
				a.nav-link.py-3(href='http://www.solopx.com')
					| WHAT WE DO 
					// span.sr-only (current)
			li.nav-item
				a.nav-link.py-3(href='http://www.solopx.com') WORK
			li.nav-item
				a.nav-link.py-3(href='http://www.solopx.com') NEWS & BLOG
			li.nav-item
				a.nav-link.py-3(href='http://www.solopx.com') CONTACT

