.navbar
	padding: 2rem 2rem
nav
	svg
		height: 35px

// @include media-breakpoint-up(xs)
// @include media-breakpoint-up(sm)
@include media-breakpoint-up(md)
	nav
		svg
			height: 50px
//@include media-breakpoint-up(lg)
// @include media-breakpoint-up(xl)