@import "https://fonts.googleapis.com/css?family=Montserrat:100,400,700|Source+Sans+Pro:400,700.css";

$colo1: #1A4362;
$colo2: #FA6122;
$colo3: #FFFFFF;
$colo4: lighten(black, 30%);


// Font Variables
$font-family-sans-serif: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-serif: 'Source Sans Pro', Georgia, 'Times New Roman', Times, serif;

$font-family-monospace:  $font-family-serif;
$font-family-base: $font-family-sans-serif;