$mobileIconSize: 40px
.navbar
	padding-top: 2rem
	font-family: $font-family-sans-serif
	font-weight: 800
	.navbar-toggler
		border: none
		width: $mobileIconSize
		height: $mobileIconSize
		margin: -0.3rem 1rem 0 0
		svg
			width: $mobileIconSize
			height: $mobileIconSize
	*
		transition: all .2s ease-out
	.navbar-collapse[aria-expanded="true"]
		background: white
		a
			padding-left: .5rem
	svg.logo
		margin-left: 1rem
		height: $mobileIconSize
		width: 158px
	a
		color: black
.smaller.navbar
	background: darken($colo2, 90%) !important
	color: white
	a
		color: white
	.logo0
		fill: white
	.menuIcon
		stroke: $white
	.navbar-collapse[aria-expanded="true"]
		background: black