.icon
	z-index: 20
	svg
		height: 40px
.bgIcon
	fill: $colo2
.cross
	fill: none
	stroke: #FFFFFF
	stroke-width: 5
	stroke-miterlimit: 10
.menuIcon
	fill: none
	stroke: #999999
	stroke-width: 5
	stroke-miterlimit: 10

.logo0
	fill: $colo1
.logo1
	fill: $colo2
.logo2
	fill: $colo3